/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

footer {
    background-color: #343a40;
}

main {
    margin-top: 15px;
    padding: 15px;
}

.nav-color{
    color: rgba(255,255,255,0.5)
}